.explore{
  background-color: #030303;
  padding-top: 75px;
  padding-bottom: 75px;
}
.explore__inner{
  display: flex;
  justify-content: space-between;
}
.explore__box{
  max-width: 660px;
  width: 100%;
}

.explore__title{
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.explore__title::after{
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #710707;
  margin-top: 25px;
  margin-bottom: 75px;
}
.explore__list{
  list-style: none;
}
.explore__item{
  margin-bottom: 25px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #FFFFFF;
}
.explore__item-color{
  color: #CAAA7D;
}

@media only screen and (max-width:1180px){
  .explore{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .explore__inner{
    display: block;
  }
  .explore__box{
    max-width: 984px;
    width: 100%;
  }
  
  .explore__title{
    font-size: 50px;
    line-height: 75px;
  }
  .explore__title::after{
    margin-top: 20px;
    margin-bottom: 60px;
  }
  .explore__list{
    margin-bottom: 62px;
  }
  .explore__item{
    display: inline;
    font-size: 20px;
    line-height: 38px;
  }
  .explore__img{
    display: block;
    width: 720px;
    height: 700px;
    margin: 0 auto;
  }
}

@media only screen and (max-width:768px){
  .explore{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .explore__box{
    max-width: 728px;
    width: 100%;
  }
  .explore__title{
    font-size: 40px;
    line-height: 60px;
  }
  .explore__list{
    display: none;
  }
  .explore__img{
    width: 728px;
    height: 705px;
  }
}

@media only screen and (max-width:420px){
  .explore__box{
    max-width: 380px;
    width: 100%;
  }
  .explore__img{
    width: 380px;
    height: 368px;
  }
}